{% load i18n %}

{# MAP ITEMS #}
{% verbatim %}
<script id="map_item_history_receiver" type="text/html"><a href="#{{url}}">{% trans "{{ name }}'s report" %}</a></script>
<script id="map_item_history_sender" type="text/html"><a href="#{{ user_url }}">{{ username }}</a> {% trans "created a new report in" %} "{{& receiver_html }}"</script>
{% endverbatim %}

{# MAP ITEM RESPONSE #}
{% verbatim %}
<script id="map_item_response_history_sender" type="text/html"><a href="#{{ user_url }}">{{ username }}</a> {% trans "replied to" %} {{& receiver_html }}</script>
{% endverbatim %}

{# COMMENT #}
{% verbatim %}
<script id="comment_history_sender" type="text/html"><a href="#{{ user_url }}">{{ username }}</a> {% trans "made a comment in" %} {{& receiver_html }}</script>
{% endverbatim %}

{# VOTE #}
{% verbatim %}
<script id="vote_history_sender" type="text/html"><a href="#{{ user_url }}">{{ username }}</a> {% trans "now supports" %} {{& receiver_html }}</script>
{% endverbatim %}

{# FOLLOW #}
{% verbatim %}
<script id="follow_history_sender" type="text/html"><a href="#{{ user_url }}">{{ username }}</a> {% trans "now follows" %} {{& receiver_html }}</script>
{% endverbatim %}

{# ACTION #}
{% verbatim %}
<script id="action_history_receiver" type="text/html"><a href="#{{url}}">{{ name }}</a></script>
{% endverbatim %}


{# HISTORY ITEM #}
{% verbatim %}
<script id="history_item_tpl" type="text/html">
  <div class="item-row">
    <div class="item-image">
      <a href="#{{ user_url }}" title="{{ username }}">
        <img src="{{ user_image }}" alt="">
      </a>
    </div>
    <div class="item-content">
      <div class="item-title">{{& title_html }}</div>
      <div class="item-date">{{ created }}</div>
      {{#extract}}<div class="item-extract">{{& extract }}</div>{{/extract}}
      <a class="more-link" href="#{{ link }}">{% trans "read more" %}</a>
    </div>
  </div>
</script>
{% endverbatim %}

{# HISTORY LIST VIEW #}
{% verbatim %}
<script id="history_view_tpl" type="text/html">
  <div class="head">
    <div class="filter"></div>
  </div>
  <div class="item-list"></div>
  <div class="item-pager hide"></div>
</script>
{% endverbatim %}
