Django
South
psycopg2
django-tastypie

PIL
sorl-thumbnail

geopy

django-extensions
django-debug-toolbar

django-appconf
django-bootstrap-toolkit
django-ckeditor
django-mptt
django-olwidget
django-haystack

django-honeypot

# Stuff I'll probably remove soon
django-compressor
django-social-auth
django-grappelli
django-registration
django-envelope
